main {
	 color: #40424a;
	 margin: 5vh auto 5vh auto;
	 width: 95%;
	 height: 100%;
	 background-color: #f0f0f0;
	 display: block;
}
 .options__box {
	 width: 100%;
}
 .options__sort-box {
	 display: inline-flex;
}
 .sort__icon {
	 position: relative;
	 display: inline-flex;
	 margin-left: 0.4rem;
	 opacity: 0.8;
	 width: 1.5rem;
	 height: 0.8rem;
	 transition: 0.4s;
}
 .rotate__sort__icon {
	 transform: rotate(180deg);
}
 .options__add-box {
	 float: right;
}
 .options__element {
	 color: #6a6d72;
	 cursor: pointer;
	 font-family: 'Nunito Sans', sans-serif;
	 font-weight: bold;
	 font-size: 1.2rem;
	 list-style-type: none;
	 margin: 2vh 3vh 1vh 3rem;
}
 .options__element:hover {
	 color: #3a3c42;
	 transition: 0.4s;
	 text-decoration: underline;
	 text-underline-offset: 1.5vh;
}
 .article__line {
	 width: 99.8%;
	 border-top: 0.2rem solid #c8c8c8;
}
 table {
	 width: 100%;
	 border-collapse: collapse;
}
 td {
	 text-align: center;
}
 tbody:before {
	 content: "@";
	 display: table-row;
	 line-height: 1.5vh;
	 visibility: hidden;
}
 .option__title {
	 font-size: 0.9rem;
}
 .col1 {
	 padding-left: 1rem;
	 text-align: left;
	 width: 50%;
}
 .col2 {
	 width: 15%;
}
 .col3 {
	 width: 15%;
}
 .col4 {
	 width: 10%;
}
 .col5 {
	 width: 10%;
}
 tbody {
	 font-size: 1.05rem;
}
 .thread__body {
	 cursor: pointer;
	 border-top: 0.2rem solid #c8c8c8;
	 border-bottom: 0.2rem solid #c8c8c8;
	 background-color: #e6e6e6;
	 height: 7vh;
}
 table .thread__body:hover td {
	 background-color: #d7d7d7;
}
 .thread__image {
	 width: 1.5vh;
	 height: 1.5vh;
}
 