.selected__news__description {
	 height: 60%;
	 margin: 3vh;
	 text-align: justify;
	 overflow: scroll;
	 font-size: 0.9rem;
}
 .selected__news__resource {
	 color: white;
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 margin-bottom: 3vh;
	 margin-left: 3vh;
	 font-size: 1rem;
}
 .selected__news__date {
	 position: absolute;
	 right: 0;
	 bottom: 0;
	 margin-bottom: 3vh;
	 margin-right: 3vh;
	 font-size: 1rem;
}
 .no__event-obj {
	 pointer-events: none;
}
 .disabled-obj {
	 display: none;
}
 a:hover, a:active, a:visited, a:link {
	 color: white;
}
 