* {
	 padding: 0;
	 margin: 0;
	 box-sizing: inherit;
}
 body {
	 font-family: 'Nunito Sans', sans-serif;
	 font-size: 0.9rem;
}
 .nav {
	 background-color: #b42828;
	 height: 8vh;
	 align-items: center;
}
 .nav__box {
	 position: relative;
	 display: flex;
	 float: right;
}
 .nav__element {
	 list-style-type: none;
}
 .nav__btn_el {
	 padding: 2.5vh;
}
 .nav__img_el {
	 padding: 0.5vh 2vh;
}
 .nav__button {
	 cursor: pointer;
	 transition-duration: 0.5s;
	 font-size: 1.2rem;
	 color: white;
	 text-decoration: none;
}
 .nav__setting {
	 margin-top: 1vh;
}

 .nav__logo {
	 padding-top: 0.4vh;
	 padding-left: 2vh;
	 width: 22vh;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	font-size: 1.9vh;
	display: none;
	position: absolute;
	background-color: #40424a;
	width: 90%;
	padding: 0.5vh;
	align-items: center;
	cursor: pointer;
	z-index: 2;
}

.dropdown-content a {
	margin: auto;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: flex;
}

.nav__rectangle {
	width: 6vh;
	height: 0.8vh;
	background-color: white;
	border-radius: 1vh;
	margin-bottom: 1vh;
	opacity: 0.8;
}
