<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/login.css" type="text/css">
</head>
<body>
<div class="container">
  <form class="login" th:action="@{/login}" method="post">
    <ul>
      <li><h3 class="login__heading">LOGIN</h3></li>
      <li><h3 class="login__heading">REGISTER</h3></li>
    </ul>
    <input id="username" name="username" class="login__field login__username"
           type="text" placeholder="Username" autocomplete="off">
    <input id="password" name="password" class="login__field login__password"
           type="password" placeholder="Password" autocomplete="off">
    <input class="submit__btn" type="submit" value="LOGIN">
  </form>
  <a href="/register/showRegistrationForm">Register New User</a>
</div>
</body>
</html>